<main class="min-h-screen bg-linear-to-br from-gray-50 to-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <div class="bg-white/80 backdrop-blur-sm rounded-lg shadow-sm border border-gray-200 p-8 sm:p-12">
      <div class="prose prose-sm max-w-3xl mx-auto">
        <p class="text-gray-700 leading-relaxed">
            I originally built this login and signup system for my e-commerce dissertation project, but later switched to Auth0 for better security and simplicity. Since I put a lot of time into it, I didn’t want the work to go to waste so I’m sharing it here in case it helps someone else.
        </p>
        <p class="text-gray-700 leading-relaxed mt-4">
          This project uses MySQL and a docker container for a local database. If you would like to use your own database connection, you can do so by editing the .env file inside <strong class="text-indigo-500">'backend/private'</strong>.
        </p>
        <p class="text-gray-700 leading-relaxed mt-4">
          Leave a star if it's helped you at all 🙂
        </p>
      </div>
    </div>
  </div>
</main>